<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/fira_code.css">
</head>

<body id="{{ slug }}">

<nav>
<section>
    <span class="home">
        <a href="{{ base_path }}/">Все записи</a>
    </span>
</section>
</nav>

<main>
{{ content }}
</main>

</body>
</html>
